readme.md
node_modules
config
// https://www.youtube.com/watch?v=431EvDGKwks&list=PLillGF-RfqbbiTGgA77tGO426V3hRF9iE&index=7

4-22:
App finished, work well in development, doesn't work after deployment.
heroku app: https://mern-shopping-list-2.herokuapp.com/
heroku acct: cryobeautysf@gmail.com
heroku password: 9438666toYU!
mongoDB Atlas Cluster acct: cryobeautysf@gmail.com
mongoDB Atlas Cluster login: gmail
DB username: cryobeauty
DB password: 9438666toYU

people with very similiar problem: (doesn't have a good answer)
https://stackoverflow.com/questions/57248158/mern-stack-app-working-on-heroku-local-but-not-working-online-when-deploy#new-answer

Decession:
React is too hard and too much to remember, I am going to brush up on the backend first before dive into full stack.. ???
